.entry-practice {
    padding-top: 100px;
    height: 100vh;
    overflow-y: scroll;

    .title-entry-practice {
        color: #fff;
        background-color: rgb(117, 117, 228);
        font-size: 1.3rem;
        padding: 20px;
    }

    button {
        margin: 20px 0;
    }

    .correct {
        border: 1px solid rgb(204, 196, 196);
        border-radius: 2px;
        padding: 10px 10px;
        font-weight: 700;
        font-family: 'Sawarabi Mincho', sans-serif;
        font-size: 1.1rem;

        span {
            color: #155724;
            font-weight: 400;
        }
    }

}

.router {
    font-size: 1.2rem;
    color: rgb(61, 61, 221);

    a {
        text-transform: capitalize;
    }
}