.countdown {
    // border: 2px solid rgb(72, 72, 228);
    color: rgb(72, 72, 228);
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}