.card{
    max-width: 300px;
    margin: 50px auto;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(194, 186, 186);
    position: relative;

    &:hover{
        transform: scale(1.1);
        transition: linear 0.3s;
    }

    &__level{
        position: absolute;
        right: 10px;
        top: -15px;
        background-color: rgb(233, 64, 64);
        color: #fff;
        padding: 8px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 3px;
    }

    &__title{
        font-weight: 900;
    }
}