.test {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;

    .numberHighLight{
        border: 2px solid rgb(105, 102, 102);
        padding: 0px 10px;
        color: rgb(12, 12, 12);
    }

    &__header{
        h2{
            font-weight: 900;
            font-size: 3rem;
        }

        h3{
            font-size: 2rem;
            font-weight: 500;
        }

        p{
            color: rgb(226, 28, 28);
        }
    }

    h4{
        font-size: 1.2rem;
        background-color: royalblue;
        padding: 20px;
        color: #fff;
    }

    .radio{
        color: #464646;
        font-weight: 550;
        font-size: 1.1rem;
        margin-bottom: 10px;
        border-bottom: 3px solid rgba($color: #574d4d, $alpha: 0.5);

        &__radio {
            cursor: pointer;
            line-height: 20px;
            position: relative;
            padding-top: 10px;
            padding-left: 15px;
        }

        &__index {
            border-radius: 5px;
            color: #fff;
            padding: .3em 1em;
            margin: .5em;
            background-color: #a1a1a1;
            font-size: 0.9rem;
        }

        input {
            opacity: 0;
            position: absolute;
            left: 24px;
            top: 20px;
            transform: translate(-50%, -50%);
        }

        input:checked+.radio__label{
            border-color: royalblue;
            &::after{
                transform: scale(0.8);
            }
        }

        &__label{
            display: inline-block;
            width: 16px;
            height: 16px;
          
            border: 2px solid royalblue;
            border-radius: 50%;
            margin-right: 16px;
          
            position: relative;

            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: royalblue;
                border-radius: inherit;
                position: absolute;
                transform: scale(0);
                transform-origin: center center;
            }
        }
    }
}